
@{
    ViewData["Title"] = "Index";
}

<div class=" text-center  p-5 mb-20 bg-warning text-body">
    <h1>Welcome! Can I help You?</h1>
</div>
<br /> 
<br />

<div class = " text-center">
    <h2>Frequently Asked Questions</h2>
</div
<li class=" nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="HelpScreen" asp-action="Question1">1. Can I cancel my order?</a>
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="HelpScreen" asp-action="Question2">2. How to purchase/order on the app?( đang chỉnh sửa)</a>
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="HelpScreen" asp-action="Question3">3. How to create an account? ( đang chỉnh sửa)</a>
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="HelpScreen" asp-action="Question4">4. How to delete an order on the app?( đang chỉnh sửa)</a>
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="HelpScreen" asp-action="Question5">5. How to track my order?( đang chỉnh sửa)</a>
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="HelpScreen" asp-action ="Question6">6. How to sell on the Web?(đang chỉnh sửa)</a> 
</li>





