
@{
    ViewData["Title"] = "Question1";
}
<div class = " text-center">
    <h1>Can I cancel my order?</h1>
</div>
<br />
<div>
    <h6>1. Buyer can cancel order only when</h6>
    <li>The order is in the status of Waiting for confirmation</li>
    <li>When the order is in the status of Waiting for delivery</li>
    <br />
    <h6>2. Buyer can NOT cancel order if</h6>
    <li>Orders are shipping</li>
    <li>The seller does not agree to cancel the order when the order is in Pending status</li>
    <h6>3.How to cancel an order on the Web?</h6>
    <div class="nav-item">
     <a class="nav-link" asp-area="" asp-controller="HelpScreen" asp-action="Question4">Click here.</a>
     </div>
  
</div>




