
@{
    ViewData["Title"] = "Question5";
}

<div class = " text-center">
    <h1>How to track my order?</h1>
    <p></p>
</div>

<br />
<div>
    <h6>1. See if the Seller has sent the goods to the carrier or not</h6>
    <br />
    <h6>2. Check delivery status</h6>
    <br />
    <h6>3. Check the status in the Shipping Information section</h6>
</div>