
@{
    ViewData["Title"] = "Question3";
}

<div class = " text-center">
    <h1>How to create an account?</h1>
    <p></p>
</div>

<br />
<div>
    <h6>1. Click Register</h6>
    <br />
    <h6>2. Enter email, password and confirm password</h6>
    <br />
    <h6>3. Click the Register button to create an account</h6>
</div>
