
@{
    ViewData["Title"] = "Question2";
}

<div class = " text-center">
    <h1>How to purchase/order on the app?</h1>
    <p></p>
</div>

<br />
<div>
    <h6>1. Successfully registered and logged in an account</h6>
    <br />
    <h6>2. Add product to Cart</h6>
    <br />
    <h6>3. Select the quantity you want to buy</h6>
</div>


